table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
}

#mytable {
  color: orange;
}

.mytable_class {
  background: rgb(195, 205, 131);
}

/* ul.info li {
  list-style: none;
} */

ul.info > li {
  list-style: none;
}

/*拓展*/
ul.info > li li:nth-child(2) {
  list-style: none;
}

ol li a {
  text-decoration: none;
}

/*选择器*/
ol li a[target="_blank"] {
  color: orange;
}

ol li a[href="https://google.com"]
{
  color: red;
}

/*相关*/
ol li a[href*="google"] {
  color: rgb(22, 199, 98);
}

/*头*/
ol li a[href^="httpss"] {
  color: rgb(22, 199, 98);
}

/*尾部*/
ol li a[href$=".com.au"] {
  background-color: rgb(135, 4, 4);
}

/*合并写法*/
ol li a[href*="google"][href$=".com.au"] {
  background: #666;
}
