@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 100;
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 5px;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(233, 233, 233);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link div {
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 250px;
    z-index: 100;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    cursor: pointer;
  
  }

  .sidebar-link:hover {
    background-color: rgb(233, 233, 233);
  }

  .sidebar-link img {
    height: 24px;
    padding-right: 24px;
  }

  .sidebar-link div {
    font-size: 14px;
    font-family: Roboto, Arial;
  }
}
