/* 
.tweet-box {
  display: inline-block;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 6px;
  width: 460px;
}


.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 10px;
}

.text-box {
  border: none;
  font-size: 16px;
  width: 300px;
  vertical-align: middle;
}

.tweet-button {
  font-size: 16px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(0, 128, 255);
  width: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
} */

/* p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 12px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: right;
  margin-bottom: 9px;
}
.name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 6px;
  margin-bottom: 4px;
  
}

.mutual-friend {
  font-size: 12px;
  margin-left: 6px;
  margin-bottom: 9px;
  color: rgb(75, 75, 75);
}

.add-friend-button {
  margin-left: 6px;
  margin-bottom: 10px;
  background-color: rgb(53, 53, 255);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
} */

/* div {
  text-align: center;
  font-family: arial;
}

.google-loge {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 12px;
}

input {
  font-size: 16px;
  width: 500px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.google-button {
  background-color: rgb(248, 249, 250);
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.search-button {
  margin-right: 10px;
} */

/* .grid-exercises {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
} */

/* div {
  font-family: Arial;
}

.practice {
  border-width: 1px;
  border-color: rgb(145, 145, 145);
  border-style: solid;
  border-radius: 6px;
  width: 300px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.notifications {
  border: none;
  background-color: rgb(0, 98, 255);
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
} */

/* div {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: blueviolet;
padding-left: 15px;
padding-right: 15px;
color: white;
}

.home-link {
font-weight: bold;
}

.text-box {
margin-top: 12px;
margin-bottom: 12px;
width: 500px;
height: 30px;
border-radius: 30px;
border: none;
padding-left: 20px;
}

button {
  border-color: white;
  background-color: blueviolet;
  border-width: 1px;
  color: white;
  border-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

} */

/* .flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column1 {
  width: 100px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;
}

.column2 {
  width: 200px;
  background-color: lightpink;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2-item {
  color: white;
  background-color: black;
} */

div {
  font-family: Arial, Helvetica, sans-serif;
}

.gmail {
  width: 400px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.all-inboxes {
  font-size: 16px;
  color: rgb(173, 173, 173);
  margin-bottom: 20px;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.pic-container {
  margin-right: 10px;
}

.email-content {
  flex: 1;
}

.email-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sender-name {
  font-weight: bold;
  font-size: 18px;
}

.sender-time {
  color: rgb(163, 163, 163);
}

.subject {
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  color: rgb(163, 163, 163);
}
